*{
    margin: 0 auto;
    padding: 0;
    list-style: none;
    font-family: "맑은 고딕";
    color:#333333;
}

a{
color: inherit; text-decoration: none;
}

button{cursor: pointer;}

body,html{min-width: 960px;}

.all{width: 100%; float: left;}
.wrap{width: 960px;}
.clear{clear:both;position: inherit;}

/* 헤더 부분 */

header{height: 150px;}
#header_div{padding-top: 10px;}
#imgslide{
    margin-top: 10px;
    height: 400px;
}
#contents{height: 500px;}

